/* styles.css */
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  /* background-color: black; */
}

.title{
  display: grid;
  justify-content: right;
  align-items:center;
  margin-left: -20%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400px;
  font-stretch: expanded;
  font-size: 50px;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: rgba(43, 41, 41, 0.425);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -54%;
  width: 100%;
  height: 100vh;
  background-color: #101010;
}
.calculator {
  width: auto;
  height: auto;
  margin: 0 auto;
  font-size: 20px;
  margin-left: 12%;
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: #7f5d96;
  padding: 20px;
  /* background-color:#f0ead2; */
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  border: none;
  /* background-color:black; */
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    6px 6px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: #fff;
  cursor: pointer;

}

form .display {
  border-radius: 25px;
  display: flex;
  background-color: #7f5d96;
  justify-content: flex-end;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    6px 6px 15px rgba(0, 0, 0, 0.2);
 
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 35px;
  box-shadow: none;
}

form input.equal{
  width: 145px;
} 

form input.operator{
  color: #b99fca;
}
